* {

    max-width: 100%;
}

body {
    padding-bottom: 100px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.header {
    height: 100vh;
    background-color: #37517E;
    height: 80vh;
    display: flex;
    align-items: center;
    font-family: 'Jost', sans-serif;
}

.header-title-2 {
    display: inline-flex;
    align-items: center;
}

.header-title h2 {
    font-size: 50px;
    font-weight: 800;
    color: white;
}

.header-title p {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
}

.header-title-btn-01 {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4;
    border: none;
}

.header-title-btn-02 {
    margin: 0px 0px 0px 25px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    font-weight: 100;
}

.header-title-btn-02 i {
    font-size: 35px;
    margin: 0px 10px 0px 0px;
    transition: 0.5s;
}
.header-title-btn-02:hover i{
    color: #47b2e4;
}

.header-title-btn {
    display: flex;
}

/*+++++++ Header section end ++++++++*/
.company-icon {
    background-color: #F3F5FA;
    padding: 12px 0;
    text-align: center;
}

.company-icon img {
    max-width: 45%;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    filter: grayscale(100);
}

.company-icon img:hover {
    filter: none;
    transform: scale(1.1);
}

.about h2 {
    text-align: center;
    color: #37517E;
    padding: 0px 0px 60px 0px;
    font-weight: 800;
    text-transform: uppercase;
}

.about {
    font-family: 'Open Sans', sans-serif;
    padding: 60px 0px;
}

.about-border::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}

.about-border::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.about-border {
    position: relative;
    top: -45px;
}

.about-icon p i {
    color: #47B6E8;
    margin: 0px 10px 0px 0px;
}

.about-icon p {
    margin-bottom: 5px;
}

.about-btn {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    line-height: 1;
    color: #47b2e4;
    margin-top: 6px;
    border: 2px solid #47b2e4;
    background: bottom;
    transition: background-color 0.5s, color 0.5s;
}

.about-btn:hover {
    background-color: #47b2e4;
    color: #fff;
}

/*+++++++ About section end ++++++++*/

.faq-sec {
    padding: 60px 0px;
    background-color: #F3F5FA;
}

.accordion-margin {
    margin-bottom: 10px;
}

.faq-title {
    font-weight: 700;
}

/*+++++++ faq section end ++++++++*/

.skill-padd {
    padding: 60px 0px;
}

.skill-col-2 h2 {
    font-weight: 700;
    color: #37517E;
}

.progress-title {
    display: flex;
    justify-content: space-between;
}

.progress-mar {
    margin: -15px 0px 20px 0px;
}

.accordion-item:first-of-type
.accordion-item{
border: none;
border-radius: 0;
background: #00A6EB;
}

/*+++++++ skill section end ++++++++*/
.service {
    background-color: #F3F5FA;
}

.shadow-icon {
    font-size: 30px;
    color: #47B2E4;
    margin-bottom: 10px;
}

.shadow h4 {
    font-size: 30px;
    color: #37517e;
    font-family: "Jost", sans-serif;
    margin-bottom: 20px;
}

.title p {
    text-align: center;
    margin-bottom: 50px;
}

.shadow {
    background: #fff;
    padding: 50px 30px;
}

.shadow-icon i {
    margin-bottom: 10px;
}

/*+++++++ servicegit  section end ++++++++*/
.call-img {
    background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url(../img/cta-bg.jpg) fixed center center;
    background-size: cover;
    padding: 120px 0;
    color: #fff;
}

.call-btn {
    font-family: "Jost", sans-serif;
    font-weight: 600;
}

.call-row {
    align-items: center;
}

.call-btn-1 {
    font-family: "Jost", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 12px 40px;
    border-radius: 50px;
    border: 2px solid #fff;
    color: #fff;
    background: bottom;
    text-decoration: none;
    transition: background-color 0.5s, border 0.5s;
}

.call-btn-1:hover {
    background-color: #00A6EB;
    border: #00A6EB;
}

.call-flex {
    display: flex;
    justify-content: end;
}

/*+++++++ all to action  section end ++++++++*/
.nav-2 li {
    margin: 10px 5px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    color: #444444;
    transition: all 0.3s;
    padding: 8px 20px;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    display: inline-block;
}

.nav-2 li:hover {
    background: #47b2e4;
    color: #fff;
}

.nav-2 li:active {
    background: #47b2e4;
    color: #fff;
}

.nav-2 {
    display: flex;
    justify-content: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/*+++ protfolio  section end +++++*/

.team-title {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    transition: 0.5s;
    height: 100%;
    display: flex;
}

.team-img {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}

.team-right {
    padding-left: 30px;
}

.team-right h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #37517e;
    font-family: "Open Sans", sans-serif;
}

.team-right h6,
p {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.team-socail-icom {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #eff2f8;
    text-decoration: none;
    color: #37517e;
    font-size: 16px;
    margin: 0 5px;
}

.team-socail-icom:hover {
    background: #73c5eb;
    color: #fff;
}

.team-icon {
    display: flex;
}
.divider::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #cbd6e9;
    display: flex;
    position: relative;
    top: 3px;
    left: 0;
}
.team-right p{
    margin-top: 10px;
}
/*+++ Team section end +++++*/

.pricing h3{
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
    color: #37517e;
}
.pricing h4{
    font-size: 48px;
    color: #37517e;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    margin-bottom: 25px;
}
.pricing h4 span{
    color: #47b2e4;
    font-size: 18px;
    display: block;
}
.pricing ul{
    padding: 20px 0;
    list-style: none;
    color: #999;
    text-align: left;
    line-height: 20px;
}
.pricing ul li{
    padding: 10px 0 10px 30px;
    position: relative;
}
.pricing ul i{
    color: #28a745;
    font-size: 15px;
    position: absolute;
    left: 0;
    top: 12px;
}
.na{
    color: #ccc;
}
.pricing ul .na i{
    color: #ccc;
}
.pricing ul .na {
    text-decoration: line-through;
}
.buy-btn{
    display: inline-block;
    padding: 12px 35px;
    border-radius: 50px;
    color: #47b2e4;
    transition: none;
    font-size: 16px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    transition: 0.3s;
    border: 1px solid #47b2e4;
    background: bottom;
}
.buy-btn:hover{
    background: #47b2e4;
    color: #fff;
}
.pricing{
    padding: 60px 40px;
    box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
    background: #fff;
    height: 100%;
    border-top: 4px solid #fff;
    border-radius: 5px;
}
.box-futured{
    border-top-color: #47b2e4;
}
.buy-btn-2{
    display: inline-block;
    padding: 12px 35px;
    border-radius: 50px;
    color: white;
    background:#3f9fcc;
    transition: none;
    font-size: 16px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    transition: 0.3s;
    border: none;
}
.buy-btn-2:hover{
background-color: #008fcc;
}
/*+++ pricing  section end +++++*/
.about-2 h2{
    text-align: center;
    color: #37517E;
    font-weight: 800;
    text-transform: uppercase;
}
/*+++ FAQ-02 section end +++++*/
.address i{
    font-size: 20px;
    color: #47b2e4;
    float: left;
    width: 44px;
    height: 44px;
    background: #e7f5fb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.address:hover i{
    background: #47b2e4;
    color: #fff;
}
.address h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #37517e;
}
.address p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #6182ba;
}
.maps{
    border: 0;
    width: 100%;
    height: 290px;
}
.info{
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}
.form-name label {
    padding-bottom: 8px;
}

.form-name input{
    width: 100%;
    height: 44px;
}
.form-group textarea{
    width: 100%;
    height: 44px;
    height: 200px;
}
.form-group{
    margin-bottom: 20px;
}
.btn button{
    background: #47b2e4;
    border: 0;
    padding: 12px 34px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}
.btn button:hover{
    background: #014d70;

}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-padd{
    padding: 42px 30px 42px 50px;
}
.form-name input:focus {
border-color: #47b2e4;
outline: 0;
}
.form-name textarea:focus {
border-color: #47b2e4;
outline: 0;
}
